// 全局样式

body {
	background: #e8eaec;
	color: #333;
}
.clearfix:after,
.clearfix:before {
	content: '';
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
/* 浏览器滚动条样式 */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: rgba(15, 20, 25, 0.2);
}
::-webkit-scrollbar-corner {
	display: none;
}
/**
 * 全局Moadl弹窗 :开始
 */
.ivu-modal {
	.ivu-modal-content {
		.ivu-modal-header {
			font-size: 1rem;
			letter-spacing: 2px;
			text-align: center;
			color: #ffffff;
			background-color: #000000;
		}
		.ivu-modal-body {
			padding: 0;
			.modal-body {
				padding: 1rem;
				overflow: auto;
				height: 77vh;
			}
			.ivu-tabs {
				.ivu-tabs-bar {
					margin-bottom: 0;
				}
				.ivu-tabs-content {
					padding: 1rem;
					height: 71vh;
					overflow: auto;
				}
			}
			.modal-body-show {
				height: 45vh;
			}
			.modal-tabs-body-show {
				height: 45vh;
				.ivu-tabs-content {
					height: 39vh;
				}
			}
		}
		.ivu-modal-footer {
			border: 1px solid #eee;
		}
	}
}

.ivu-modal-close .ivu-icon-ios-close:hover {
	color: #fff;
	font-weight: bold;
}
/**
 * 全局Moadl弹窗 :结束
 */

// spin
.ivu-spin-fullscreen-wrapper {
	//   top: 70px !important;
	top: 0;
}
.ivu-spin-fix {
	background-color: rgba(255, 255, 255, 0.8);
}
// poptip
.ivu-poptip-inner {
	border-radius: 0;
}

/* 黑色背景下拉菜单 */
.black-dropdown {
	.ivu-select-dropdown {
		background: #000;
		border-radius: 0;
		margin: 0;
		.ivu-dropdown-item,
		a {
			color: #fff;
			opacity: 0.8;
			transition: all 0.2s;
			&:hover {
				opacity: 1;
				color: @green;
				background: #000;
			}
		}
	}
}

.router-link-exact-active.router-link-active {
	color: @green;
}

.border-bottom-input {
	.ivu-input {
		border-color: transparent;
		-webkit-transition: color 0.1s linear;
		transition: color 0.1s linear;
		background: transparent;
		outline: none;
		font-size: 18px;
		color: #333;
		border-radius: 0;
		width: 100%;
		display: inline-block;
		border-bottom: 1px solid #ccc;
		&:focus {
			box-shadow: 0 2px 0 0 #666;
		}
	}
}
/* 动画 */
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}
