
// 全局样式

body{
  background: #e8eaec;
  color: #333;
}
.clearfix:after,.clearfix:before{
  content: "";
  display: table;
}
.clearfix:after{
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
/* 浏览器滚动条样式 */
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(15, 20, 25, 0.2);
}
::-webkit-scrollbar-corner {
  display: none;
}


// 全局弹窗样式
.ivu-modal-content {
  /* border-radius: 6px; */
  border-radius: 0!important;
  .ivu-modal-header {
    background: #000;
    p{
      color: #fff;
      span{
        color: #fff;
      }
    }
    .ivu-modal-header-inner{
      color: #fff;
    }

  }
}

// spin
.ivu-spin-fullscreen-wrapper {
  top: 70px!important;
}
.ivu-spin-fix{
  background-color: rgba(255,255,255,1);
}
// poptip
.ivu-poptip-inner{
  border-radius: 0;
}


/* 黑色背景下拉菜单 */
.black-dropdown{

  .ivu-select-dropdown{
    background: #000;
    border-radius: 0;
    margin: 0;
    .ivu-dropdown-item, a{
      color: #fff;
      opacity: .8;
      transition: all .2s;
      &:hover{
        opacity: 1;
        color: @green;
        background: #000;
      }

    }
  }
}

.router-link-exact-active.router-link-active{
  color: @green;
}

.border-bottom-input{
  .ivu-input{
    border-color: transparent;
    -webkit-transition: color 0.1s linear;
    transition: color 0.1s linear;
    background: transparent;
    outline: none;
    font-size: 18px;
    color: #333;
    border-radius: 0;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid #ccc;
    &:focus{
      box-shadow: 0 2px 0 0 #666;
    }
  }

}
